@tailwind base;
@tailwind components;
@tailwind utilities;

@config '../tailwind.config.ts';

@plugin "daisyui/theme" {
  name: "oceanWave";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #F0EBD8;
  --color-base-200: #748CAB;
  --color-base-300: #3E5C76;
  --color-base-content: #0D1321;
  --color-primary: #1D2D44;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #3E5C76;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #748CAB;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #0D1321;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #3E5C76;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #4CAF50;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #F44336;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }   
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
